body {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 20px;
  font-family: "calibri", sans-serif;
}

.result {
  font-size: 16px;
  font-weight: bold;
  color: green;
  height: 20px;
  border: 1px solid #009933;
  max-width: 400px;
  padding-bottom: 5px;
  padding-top: 5px;

}

#txt {
  margin-bottom: 5px;
  width: 97%;
  height: 300px;
}

.interaction {
  margin-top: 5px;
  margin-bottom: -15px;
}

#jobs,
#job {
  width: 98%;
}

#job {
  width: 97%;
}

#spinner {
  position: fixed; 
  width: 200px;
  height: 200px;
  top: 50%; 
  left: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border-style: solid;
  border-width: 3pt;
  border-color: #009933;
  display: none;
}
.spinner{
  margin-top: 75px;
  margin-left: 75px;
}

#resultContainer {
  width: 98%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

#resultBar {
  width: 75%;
  height: 40px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
}

#container {
  width: 100%;
  display: none;
}

#perc {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.more {
  color: blue;
  cursor: pointer;
  margin-top: 0px;
}

.details {
  cursor: pointer;
}

.entity {
  margin-bottom: 0px;
}

#resultContainer2 {
  width: 98%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

#resultBar2 {
  width: 75%;
  height: 40px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
}

#container2 {
  width: 100%;
  display: none;
}

#perc2 {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.skill_divs {
  border: 1px solid #009933;
  padding: 5px;
  margin: 5px;
}

.element {
  padding-bottom: 1px;
}

#button4 {
  display: none;
  margin-left: 5px;
}

#button5, #button5a {
  /*display: block;
  margin-left: auto;
  margin-right: 0;*/

  position: absolute;
  right: 15px;
  top: 0px;
}

#button5 {
  display: none;
}

.buttons{
  position: relative;
}

.resultContainer {
  width: 98%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.resultBar {
  width: 75%;
  height: 40px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
}

.container {
  width: 100%;
  
}

.perc {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.radio{
  margin-top: 3px;
  margin-bottom: 3px;

}

.radio-toolbar {
  margin: 0px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border-radius: 10px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: aquamarine;
}